<!DOCTYPE html>
<html lang="en">


        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>MyDiary</title>
                <style>
                        body {
                                background-size: cover;
                                background-position: center;
                        }

                        </style>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
        <body background="/Styling/Images/background.jpg">

            <div>
                {% include 'Mydiary/navbar.html' %}
            </div>

            <link rel="stylesheet" href="Styling/CSS/font.css">

                <div style="margin-left:5%">
                        <title>
                            {%block title%}
                            {% endblock %}
                        </title>
                                {% block body %}
                                {% endblock %}
                </div>
        </body>

    </head>
</html>
